<ng-container *ngFor="let item of Messages">
    <ng-container *ngIf="item.sender==messageSender then sender else reciver">
    </ng-container>
    <ng-template #sender>
        <app-sender [message]="item.message" ></app-sender>
    </ng-template>
    <ng-template #reciver>
        <app-receiver [message]="item.message"></app-receiver>
    </ng-template>
</ng-container>
<!-- <ng-container *ngFor="let item of listunsendMessage">
        <app-sender [message]="item.message" ></app-sender>
</ng-container> -->
