.container{
    width: 95%;
    justify-content: flex-end;
    margin: 1.5rem auto;
    .message{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        p{

            max-width: 50%;
            background-color: white;
            padding: 0.5rem;
            border-radius: 10px 0 10px 10px;
            white-space: pre-wrap;
            position: relative;
            overflow: initial;
            margin-right: 2.6rem;
            word-break: break-all;
        }
        >p::after{
            display: block;
            content: "";
            width: 0;
            position: absolute;
            border-right: 0.4rem solid transparent;
            border-bottom: 0.4rem solid transparent;
            border-top: 0.4rem solid white;
            border-left: 0.4rem solid white;
            right: 0;
            top: 0;
            transform: translateX(100%);
        }
    }
}