<form class="informationform" (ngSubmit)="resetpassword()">
    <div>
        <h3>Reset Password</h3>
        <div>
            <input type="password" [formControl]="password" placeholder="New password*"/>
            <ng-container *ngIf="password.invalid&&(password.touched||submitted)">
                <p class="invalid" *ngIf="password.hasError('required')">this field is required</p>
                <p class="invalid" *ngIf="password.hasError('pattern')">value is invalid</p>
            </ng-container>
        </div>
        <ng-template #submit>
            <div>
                <input type="submit" value="Reset"/>
                <p>you have account?<a [routerLink]="'/auth/login'" class="link">log in</a></p>
            </div>
        </ng-template>
        <ng-template #loader>
            <div>
                <img src="../../../assets/loader.svg"/>
            </div>
        </ng-template>
        <div *ngIf="!submitted;then submit;else loader">
        </div>
    </div>
</form>